.vscode/c_cpp_properties.json
.vscode/settings.json
debug.h
Utilities/utilities_x86_64.a
test/meshOut.txt
test/meshOut.m
Reader/reader_x86_64.a
Mesh/mesh_x86_64.a
directhexa.x86_64
directhexa_x86_64.a
test/dsSpaceOut.m
test/dsSpaceOut.txt
test/matrix.txt
test/solution_grad_mesh.dat
test/solution_mesh.dat
test/solution.txt
test/test_grad_mesh.dat
test/test_mesh.dat
test/rhs.txt
test/interpolation_grad_mesh.dat
test/interpolation_mesh.dsSpaceOut
output.txt
test/interpolation_mesh.dat
